:root {
  --pink: #e79abb;
  --bg: #181717;
  --shadow: 0 2px 2px rgba(0, 0, 0, 0.5);

}

body {
  font-size: 1.2rem;
  font-family: "work sans", sans-serif;
  min-height: 4000px;
}

.hero {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/Black\ and\ White\ Trendy\ Modern\ Feminine\ Photo\ Collage\ Desktop\ Wallpaper.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  fill: none;
  z-index: 1;
  filter: blur(2PX);
  filter: grayscale(100%);
  opacity: 0.85;
}

.hero::after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 2;
}

.hero * {
  position: relative;
  z-index: 3;
  color: #fff;
  text-shadow: 0 1px 5px rgba(0,0,0,0.8);
}

.hero h1,
.hero h4,
.hero p {
  text-shadow: var(--shadow);
}


.hero h1 {
  font-family: "Sacramento", cursive;
  font-size: 3rem;
  color: var(--pink)
}

.hero h4 {
  font-family: 1.4rem;
  color: rgb(253, 252, 251)
}

.hero p {
  font-size: 1.2rem;
  color: rgb(251, 250, 249)
}

.hero a {
  color: var(--pink);
  background-color: rgb(255, 255, 255);
  text-shadow: none;
}

.hero a:hover {
  background-color: var(--pink);
  color: rgb(255, 255, 255);
}

.navbar {
background-color: rgb(255, 255, 255, 05);!important
backdrop-filter: blur(4px);
}



.mynavbar .navbar-brand,
.mynavbar .offCanvas-title {  /* Nama kelas diperbaiki */
  font-family: 'Sacramento', cursive;
  font-size: 2.3rem; /* Ukuran font sudah benar */
}

.mynavbar .nav-link{
  text-transform: uppercase;
}
.home > * {
  position: relative;
  z-index: 2;
}

.home {
  position: relative;
  min-height: 100vh;
  padding-top: 15rem;
  padding-bottom: 5rem;
  overflow: hidden;
}
.home::before {
  content: '';
  position: absolute;
  inset: 0;

  background-image: url("img/Black\ and\ White\ Trendy\ Modern\ Feminine\ Photo\ Collage\ Desktop\ Wallpaper.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

 filter: blur(1px);   /* lebih tajam */
opacity: 0.9;        /* gambar lebih terlihat */
       /* SAMAR */
  transform: scale(1.15);

  z-index: 1;
}

.home::after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.25);
  z-index: 1;
}

.home h2,
.info h2,
.story h2,
.gallery h2,
.rsvp h2,
.gifts h2 {
  color: var(--pink);
  font-family: sacramento;
  font-size: 5rem;
  font-weight: bold;
}

.home h3{
  color:#fdfbfb;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  
}
.home p {
  color: #fdfdfd;
  font-size: 1.1rem;
}

.home h2,
.home h3,
.home p {
  text-shadow: var(--shadow);
}


.home .couple{
  margin-top: 100px;
}
  
.home .couple h3{
  font-family: sacramento;
  font-size: 2.4rem;
  color: var(--pink);
}

.home .couple img{
  width: 100%;
}

.home h3,
.home h4,
.home p {
  text-shadow: var(--shadow);
}

.info,
.rsvp {
  background-color:black;
  color: white;
  padding-top:8rem;
  padding-bottom: 8rem;

}

.info h2,
.rsvp h2 {
  color: var(--pink);
  font-family: sacramento;
  font-size: 6rem;
  font-weight: bold;
}

.story,.gallery,
.gifts {
  padding-top:10rem;
  padding-bottom: 8rem;
}

.story span,.gallery span,.gifts span {
  text-transform: uppercase;
  color: #666;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
}

.story p,.gallery p, .gifts p {
  font-size: 1rem;
  font-weight: 300;
}

.timeline {
  list-style: none;
  padding: 1.4rem;
  margin-top: 1rem;
  position: relative;
}

.timeline::before {
  content: '';
  top: 0;
  bottom: 0;
  position: absolute;
  width: 1px;
  background-color:#ccc ;
  left: 50%;
}

.timeline li {
  margin-bottom: 1.5rem;
  position: relative;
}

.timeline li::before,
.timeline li::after {
  content: '';
  display: table;
}

.timeline li::after {
  clear: both;
}

.timeline li .timeline-image {
  width: 160px;
  height: 160px;
  background-color: #ccc;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.timeline li .timeline-panel{
  width: 40%;
  float: left;
  border: 1px solid #ccc;
  padding: 1.2rem;
  position: relative;
  border-radius: 6px;
  background-color: #fff;
}

.timeline li .timeline-panel::before{
  content: '';
  display: inline-block;
  position: absolute;
 border-top: 15px solid transparent;
 border-left: 15px solid #ccc;
 border-right: 0 solid #ccc;
 border-bottom: 15px solid transparent;
 top: 80px;
 right: -15px;
}

.timeline li .timeline-panel::after{
  content: '';
  position: absolute;
  display: inline-block;
  border-top: 14px solid transparent;
 border-left: 14px solid #fff;
 border-right: 0 solid #fff;
 border-bottom: 45px solid transparent;
 top: 81px;
 right: -14px;

}

.timeline li.timeline-inverted .timeline-panel{
  float:right ;
}

.timeline li.timeline-inverted .timeline-panel::before{
border-left-width: 0;
border-right-width: 15px;
left: -15px;
right: auto;

}

.timeline li.timeline-inverted .timeline-panel::after{
 border-left-width: 0;
border-right-width: 14px;
left: -13px;
right: auto; 
}

.gallery {
  background-color: #ede8e8;
}

.gallery-img {
  cursor: pointer;
  transition: 0.3s;
}

.gallery-img:hover {
  transform: scale(1.03);
}

.lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 12px;
}

.audio-icon-wrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;

  width: 55px;
  height: 55px;
  background-color: #e79abb;
  color: white;

  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.audio-icon-wrapper i {
  font-size: 1.6rem;
}


/* ANIMASI PLAY (SUDAH ADA) */
.rotating {
  animation: rotate 3s linear infinite;
}
@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* ANIMASI PAUSE */
.paused {
  animation: pulse 1.2s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.85);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}







/* media query */

/* laptop */
@media (max-width: 922px){

  html{
    font-size: 75%;
  }

  .simply-countdown > .simply-section{
    padding: 70px;
  }

  .timeline::before{
    left: 60px;
  }

  .timeline li .timeline-image{
    left: 15px;
    margin-left: 45px;
    top: 16px;
  }

  .timeline li .timeline-panel{
    width: calc((100% - 200px));
    float: right;
  }

  .timeline li .timeline-panel::before{
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;

  }
   .timeline li .timeline-panel::after{
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
  }
}




/* tablet */
@media (max-width: 768px){

  html{
    font-size: 65%;
  }

  .simply-countdown > .simply-section{
    padding: 60px;
    margin: 5px;
  }

  .mynavbar .nav-link{
    font-size: 2rem;
    text-align: center;
  }

  .timeline li .timeline-image{
    width: 140px;
    height: 140px;
  }
}

/* mobile */
@media (max-width: 576px){

  html{
    font-size: 55%;
  }

  .simply-countdown > .simply-section{
    padding: 45px;
    margin: 3px;
  }

  .timeline li .timeline-image{
    width: 80px;
    height: 80px;
  }

  .timeline li .timeline-panel{
    width: 65%;
    transform: translateX(-20px);
  }

  .timeline li .timeline-panel::before{
    top: 30px;
  }

  .timeline li .timeline-panel::after{
    top: 31%;
  }
  .home::before {
    background-size: cover; /* biar gambar terlihat full tanpa terpotong */
    background-position: center; /* posisinya di atas agar kelihatan */
    transform: scale(1); /* hilangkan zoom yang bikin kepotong */
  }
}

